.main {
  background-color: $main-bg;
  padding: 5em 2em;
  @include desktop {
    padding: 8em;
    display: flex;
    flex-direction: row-reverse;
  }
  &__image {
    position: relative;
    background-image: url("../images/image-header-mobile.jpg");
    background-size: cover;
    min-height: 35vh;
    width: 100%;
    border-radius: 12px 12px 0px 0px;
    @include tablet {
      min-height: 50vh;
    }
    @include desktop {
      border-radius: 0 12px 12px 0;
      background-image: url("../images/image-header-desktop.jpg");
      background-size: cover;
      width: 100%;
      min-height: 0vh;
      height: 600px;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
      bottom: 0px;
      left: 0px;
      background-color: hsla(277, 68%, 47%, 0.445);
      @include desktop {
        border-radius: 0 12px 12px 0;
      }
    }
  }
  &-content {
    background-color: $card-bg;
  }
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3em 3em;
  border-radius: 0 0 12px 12px;
  @include desktop {
    border-radius: 12px 0 0 12px;
    align-items: flex-start;
    justify-content: start;
    text-align: start;
    padding: 5em 5em;
    // max-height: 50vh;
    height: 450px;
    width: 65%;
  }
  &__desc {
    padding: 1em 0;
    line-height: 25px;
    text-indent: 10px;
    @include desktop {
      padding: 2em 0em;
      text-indent: 0px;
    }
  }
}

.main-content__stats {
  line-height: 35px;
  @include desktop {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h2 {
    padding: 1em 0 0 0;
  }
  p {
    letter-spacing: 1px;
  }
}
